/* Font Families */

/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */

/* Nav bar */

body {
  background-color: #edefec;
}

.navbarSection {
  background-color: #edefec;
  position: fixed;
  z-index: 1000;
}

.navbar {
  z-index: 1;
}

.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
}

.nav-item {
  padding: 0 1rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #34552b;
}

.menuBorder {
  border-right: solid;
  border-width: 0.125rem;
  color: #596f62;
}

.nav-link {
  color: #34552b;
}

.navbar-toggler-icon {
  color: #34552b;
}

.navbar-light .navbar-toggler {
  border-color: #34552b;
}

/* Top Section */

.topSection {
  padding: 6.5rem 0 0;
  position: relative;
}

.heading-container {
  display: inline-flex;
}

.topBackground {
  display: inline-flex;
}

.veganQuote {
  padding: 2rem;
  display: inline-flex;
  z-index: 3;
  bottom: 2rem;
}

.vinesImg {
  min-width: 350px;
  display: inline-flex;
}

/* About Me Section */

.midSection {
  background-color: #596F62;
  padding: 4.5rem 1rem 4rem 1rem;
  position: relative;
  bottom: 5rem;
}

.logoSmall {
  width: 8rem;
  z-index: 10;
}

.profilePic {
  max-width: 19rem;
  margin-left: 4%;
  z-index: 2;
}

.media-body {
  background-color: #34552C;
  height: 22rem;
  padding: 2.25rem 1rem 0.5rem 10rem;
  margin-top: 2.75rem;
  margin-left: -10rem;
  color: #fff;
  z-index: 0;
  -webkit-clip-path: polygon(0 0, 100% 12%, 100% 100%, 0 88%);
}

.aboutDiv {
  text-align: left;
}

.carousel {
  margin-bottom: 2rem;
  z-index: 2;
}

.carousel-control-prev {
  left: -4.5rem;
  opacity: 1;
  transition: none;
}

.carousel-control-prev-icon {
  box-shadow: 0.2rem 0.2rem 0.2rem 0.1rem #0000007a;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 2.5rem;
  height: 2.5rem;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.1rem #0000001c;
}

.carousel-control-next {
  right: -4.5rem;
  opacity: 1;
  transition: none;
}

.carousel-control-next-icon {
  width: 2.5rem;
  height: 2.5rem;
  box-shadow: -0.2rem 0.2rem 0.2rem 0.1rem #0000001c;
}

.carousel-indicators li {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 100%;
}


/* Contact Section */

.bottomSection {
  padding: 4.5rem 1rem 4rem 1rem;
  position: relative;
  bottom: 5rem;
}

.email {
  font-size: 6rem;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
}

.email .btn-outline-success:hover {
  color: #113f05;
  background-color: #8be874;
  border-color: #8be874;
}

.social {
  font-size: 4rem;
  padding: 0.75rem;
  border: none;
  border-radius: 1rem;
}

.tW {
  color: #1DA1F2;
}

.tW.btn-outline-primary:hover {
  background-color: #1DA1F2;
  border-color: #1DA1F2;
}

.veggieDiv {
  position: absolute;
  top: 0;
  right: 0;
}
